version: "3.7"
services:
  aeqapp:
    build:
      args:
        user: aeqapp
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: aeqapp
    container_name: aeqapp
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - app-network
  nginx:
    image: nginx:1.17-alpine
    container_name: aeqapp-nginx
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d
    networks:
      - app-network

networks:
  app-network:
    driver: bridge